html,
body {
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: "VCROSD", "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  text-align: center;
  font-size: medium;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "VCROSD";
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

.main-container {
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.underscore-text {
    text-decoration: underline;
    animation: underscore-text 4s infinite;
}

@keyframes underscore-text {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  z-index: 2;
}

#sound_button {
  width: 20px;
  height: 20px;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
}
